body {
  background: #000;
  color: #FFF;
  font-family: 'Arial';
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

div {
  margin: 0.5vw;
}

input, textarea {
  font-size: 24px;
}

.container {
  margin: auto;
  width: 80vw;
}

.form {
  border: #FFF solid thick;
  word-spacing: -0.25em;
}

.markov-option, .input-text {
  display: inline-flex;
}

.markified-text {
  font-size: 18px;
  margin-top: 3vw;
  text-transform: none;
  text-align: justify;
}

.title {
  font-size: 24px;
  letter-spacing: 0.4vw;
  text-align: center;
  word-spacing: -0.75em;
}
