body {
  background: #000;
  color: #FFF;
  font-family: 'Arial';
  font-size: 24px;
  text-align: center;
}

div {
  margin: 0.5vw;
}

input, textarea {
  font-size: 24px;
}

.container {
  margin: auto;
  width: 80vw;
}

.form {
  border: #FFF solid thick;
}

.markov-option, .input-text {
  display: inline-flex;
}

.markified-text {
  margin-top: 5vw;
  text-align: justify;
}

.title {
  font-size: 36px;
}
